nav ul{
    display: flex;
   
}
nav li{
    list-style: none;
    margin: 10px;
}

nav li a{
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: 600;
}
nav li:hover{
    background-color: lightgray;
}